version: 1.0.0.{build}
skip_tags: true
configuration: Release
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
before_build:
- nuget restore
build:
  #publish_wap: true	# Package Web Applications for Web Deploy
  publish_wap_xcopy: true	# Package Web Applications for XCopy deployment
  verbosity: minimal
artifacts:
- path: packages
  name: Readings.Packages.$(APPVEYOR_BUILD_VERSION)