<footer class="container" id="footer">
    <div class="row">
        <div class="col-md-12">
            <nav id="footer-nav" class="nav">
                <ul class="list-inline pull-right">
                    <li><a href="lektire/upload" title="Pošalji lektiru">Pošalji lektiru</a></li>
                    <li>|</li>
                    <li><a href="informacije/najcesca-pitanja" title="Najčešća pitanja">Najčešća pitanja</a></li>
                    <li>|</li>
                    <li><a href="informacije/uvjeti-koristenja" title="Uvjeti korištenja">Uvjeti korištenja</a></li>
                    <li>|</li>
                    <li><a href="informacije/kontakt" title="Kontakt">Kontakt</a></li>
                </ul>
            </nav>
            <div class="pull-right">
                <span>&copy; 2014. - @DateTime.Now.Year. @GeneralResource.SiteName - @GeneralResource.SiteSlogan. Sva prava pridržana..</span>
            </div>
        </div>
    </div>
</footer>
