
@{
    ViewBag.Title = "Reading";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("Ads/AdsenseLeaderboard")
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            Prethodna verzija
        </div>
        <div class="col-md-6 text-center">
            Sljedeća verzija
        </div>
    </div>
    <article class="row">
        <header class="col-md-12">
            <h1>20000 milja pod morem</h1>
            <span>Verzija 1</span>
            <p>Pisac: Jules Verne</p>
            <aside class="shares social">
                <div class="total-shares" data-index="0">
                    <em>708</em>
                    <div class="caption">Shares</div>
                </div>
                <div class="share-buttons v2 expanded">
                    <div class="share-container">
                        <div class="share-count">708</div>
                        <div class="primary-shares nowhatsapp">
                            <a class="social-share facebook">
                                Share
                                <span class="expanded-text">on Facebook</span>
                            </a>
                            <a class="social-share twitter" data-tweet-link="" data-tweet-text="" data-tweet-via="">
                                <span class="primary-text">Share</span>
                                <span class="alt-text">Tweet</span>
                                <span class="expanded-text">on Twitter</span>
                            </a>
                            <a class="social-share whatsapp" href="whatsapp://send?text=Obama%20shuts%20down%20heckler%2C%20saying%20'You're%20in%20my%20house'%20http%3A%2F%2Fmashable.com%2F2015%2F06%2F25%2Fheckler-obama-video%2F%23%3AeyJzIjoid2hhdHNhcHAiLCJpIjoiXzFodzg1bDE1dHJpcmhucmoifQ">
                                <span class="primary-text">Share</span>
                                <span class="alt-text">Share</span>
                            </a>
                            <div class="share-toggle"></div>
                        </div>
                        <div class="secondary-shares">
                            <a class="social-share google_plus" data-active="true" data-gapiattached="true"></a>
                            <a class="social-share linked_in"></a>
                            <a class="social-share stumble_upon"></a>
                            <a class="social-share pinterest"></a>
                            <div class="secondary-share-toggle"></div>
                        </div>
                    </div>
                </div>
            </aside>
        </header>
        <div class="col-md-8">
            <section>
                <h2>Bilješka o piscu</h2>
                <p>
                    Jules Verne (1838. – 1905.) je bio slavni francuski pripovjedač i ostavio je puno djela za mladež: 63 romana i 18 novela pustolovnog, znanstvenog i znanstveno-fantastičnog sadržaja. Polovicu toga čine knjige o moru. U svojim je djelina predvidio mnoge tehničke izume koji su danas dio naše stvarnosti i naše tehnologije. Temeljna misao toga velikog sanjara je: "Sve što jedan čovjek može zamisliti, drugi ljudi to mogu ostvariti."
                </p>
            </section>
            <section>
                <h2>Mjesto radnje</h2>
                <p>
                    U morima i oceanima
                </p>
                <div>
                    @Html.Partial("Ads/AdsenseLeaderboard")
                </div>
            </section>
            <section>
                <h2>Vrijeme radnje</h2>
                <p>
                    1866. godina
                </p>
            </section>
            <section>
                <h2>Tema</h2>
                <p>
                    Kapetan Nemo, Nautilus, posada i tri nesretna putnika (Aronnax, Conseil, Ned Land) doživljavaju mnoga čuda i nevolje putujući pod morem.
                </p>
            </section>

            <section>
                <h2>Ideja</h2>
                <p>
                    Mobilis in Mobili (pokretno u pokretnom)
                </p>
            </section>
            <section>
                <h2>Likovi</h2>
                <p>
                    <dl>
                        <dt>Ned Land</dt>
                        <dd>kanađanin, bilo mu je oko 40 godina, bio je visok i snažan, ozbiljan, katkad nagao i veoma naprasit kad mu se prigovara.</dd>
                    </dl>
                </p>
            </section>
            <section>
                <h2>Kratki sadržaj</h2>
                <p>
                    Kapetan Faragut pozvao je gospodina Aronnaxa da ide s njim na putovanje u potrazi za morskom nemani. Kada su putovali naišli su na neman. Brod je udario u tajanstveni predmet i gospodin Aronnax, Conseil i Ned Land su ispali iz broda. Pali su pokraj nemani tj. podmornice, a neki morski ljudi su ih grubo odveli u tu podmornicu. Tu su se sprijateljili
                    i počeli pričati o pustolovinama što su ih doživljavali.
                </p>
                <p>
                    Putovali su pod morima i ustanovili da se podmornica zove Nautilus, a da se kapetan zove Nemo. Tada su gospodin Aronnax i njegovi prijatelji saznali od Nema da se iz mora dobiva hrana, papiri, zavoji i još mnoge stvari potrebne za život. Putovali su ispod vode, pronalazili su svakakve zanimljivosti ispod Tihog
                    oceana i oplovili svijet.
                </p>
            </section>
            <section>
                <h2>Najuzbudljiviji odlomak</h2>
                <p>
                    <blockquote>
                        „Uostalom gledajte, neman se miče. Miče se naprijed natrag! Napast će!“
                    </blockquote>
                </p>
            </section>
        </div> <!-- END .col-md-8 -->
        <aside class="col-md-4" style="background: #e6e7e8;">
            <section class="text-left">
                @Html.Partial("Ads/AdsenseMedRectangle")
            </section>
            <section>
                <h2>Sadržaj</h2>
                <p>
                    <ul>
                        <li>Bilješka o piscu</li>
                        <li>Mjesto radnje</li>
                        <li>Vrijeme radnje</li>
                        <li>Tema</li>
                        <li>Kratki sadržaj</li>
                    </ul>
                </p>
                <h2>Ostale verzije</h2>
                <p>
                    <ul>
                        <li>Verzija 2</li>
                        <li>Verzija 3</li>
                        <li>Verzija 4</li>
                    </ul>
                </p>
                <h2>Preporučene lektire</h2>
                <p>
                    <ul>
                        <li>Lektira 1</li>
                        <li>Lektira 2</li>
                        <li>Lektira 3</li>
                    </ul>
                </p>
            </section>
        </aside> <!-- END .col-md-4 -->
    </article>
</div>